RewriteEngine On
RewriteBase /employee

## Employee Part
RewriteRule ^home$ mukesh/EMS-v1.1/employee/home.php$1 [L]
RewriteRule ^probationerAppointment$ mukesh/EMS-v1.1/employee/probationerAppointment.php$1 [L]
RewriteRule ^permanentAppointment$ mukesh/EMS-v1.1/employee/permanentAppointment.php$1 [L]
RewriteRule ^experienceCertificate$ mukesh/EMS-v1.1/employee/experienceCertificate.php$1 [L]
RewriteRule ^employeeTermsConditions$ mukesh/EMS-v1.1/employee/employeeTermsConditions.php$1 [L]
RewriteRule ^payroll$ mukesh/EMS-v1.1/employee/payroll.php$1 [L]