Options +Multiviews
RewriteEngine On
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^index$ https://www.alegralabs.com/ems/index.php$1 [L]
RewriteRule ^logout$ https://www.alegralabs.com/ems/logout.php$1 [L]
RewriteRule ^help$ help.php$1 [L]
RewriteRule ^adminHome$ https://www.alegralabs.com/ems/adminHome.php$1 [L]
RewriteRule ^forgotPassword$ https://www.alegralabs.com/ems/forgotPassword.php$1 [L]
RewriteRule ^resetPassword/([A-Z0-9]+)$ https://www.alegralabs.com/ems/resetPassword.php?token=$1 [L]
## Employee
RewriteRule ^createEmployee$ https://www.alegralabs.com/ems/createEmployee.php$1 [L]
RewriteRule ^viewEmployees$ https://www.alegralabs.com/ems/viewEmployees.php$1 [L]
##RewriteRule ^viewEmployeeDetails/(.*)$ https://www.alegralabs.com/ems/viewEmployeeDetails.php?employee_id=$1 [L]
##RewriteRule ^editEmployee/(.*)$ https://www.alegralabs.com/ems/editEmployee.php?employee_id=$1 [L]
RewriteRule ^probationerAppointment$ https://www.alegralabs.com/ems/probationerAppointment.php$1 [L]
RewriteRule ^permanentAppointment$ https://www.alegralabs.com/ems/permanentAppointment.php$1 [L]
RewriteRule ^experienceCertificate$ https://www.alegralabs.com/ems/experienceCertificate.php$1 [L]
RewriteRule ^employeeTermsConditions$ https://www.alegralabs.com/ems/employeeTermsConditions.php$1 [L]
RewriteRule ^payroll$ https://www.alegralabs.com/ems/payroll.php$1 [L]
RewriteRule ^searchPayroll$ https://www.alegralabs.com/ems/searchPayroll.php$1 [L]

## Client
RewriteRule ^createClient$ https://www.alegralabs.com/ems/createClient.php$1 [L]
RewriteRule ^viewClients$ https://www.alegralabs.com/ems/viewClients.php$1 [L]
RewriteRule ^viewProjects$ https://www.alegralabs.com/ems/viewProjects.php$1 [L]
##RewriteRule ^viewClientDetails/(.*)$ https://www.alegralabs.com/ems/viewClientDetails.php?client_id=$1 [L]
##RewriteRule ^editClient/(.*)$ https://www.alegralabs.com/ems/editClient.php?client_id=$1 [L]
##RewriteRule ^viewSingleProjectDetails/(.*)$ https://www.alegralabs.com/ems/viewSingleProjectDetails.php?project_id=$1 [L]

## Invoice
RewriteRule ^createInvoice$ https://www.alegralabs.com/ems/createInvoice.php$1 [L]
RewriteRule ^receiveInvoice$ https://www.alegralabs.com/ems/receiveInvoice.php$1 [L]
RewriteRule ^viewInvoices$ https://www.alegralabs.com/ems/viewInvoices.php$1 [L]
 
## GST
RewriteRule ^currentGST$ https://www.alegralabs.com/ems/currentGST.php$1 [L]
RewriteRule ^searchGST$ https://www.alegralabs.com/ems/searchGST.php$1 [L]
##RewriteRule ^viewGST/(.*)$ https://www.alegralabs.com/ems/viewGST.php?period=$1 [L]

## Settings
RewriteRule ^companyProfile$ https://www.alegralabs.com/ems/companyProfile.php$1 [L]
RewriteRule ^changePasswordForm$ https://www.alegralabs.com/ems/changePasswordForm.php$1 [L]
RewriteRule ^employeeLeaveHoliday$ https://www.alegralabs.com/ems/employeeLeaveHoliday.php$1 [L]
RewriteRule ^notifications$ https://www.alegralabs.com/ems/notifications.php$1 [L]

## Employee Part
RewriteRule ^home$ https://www.alegralabs.com/ems/employee/home.php$1 [L]
RewriteRule ^probationerAppointment$ https://www.alegralabs.com/ems/employee/probationerAppointment.php$1 [L]
RewriteRule ^permanentAppointment$ https://www.alegralabs.com/ems/employee/permanentAppointment.php$1 [L]
RewriteRule ^experienceCertificate$ https://www.alegralabs.com/ems/employee/experienceCertificate.php$1 [L]
RewriteRule ^employeeTermsConditions$ https://www.alegralabs.com/ems/employee/employeeTermsConditions.php$1 [L]
RewriteRule ^payroll$ https://www.alegralabs.com/ems/employee/payroll.php$1 [L]

## 404 error page
ErrorDocument 404 https://www.alegralabs.com/ems/404Error.php